/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-content {
    --background: #ec8e5f;
}


#splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    background-color: white;
    /* Fondo blanco por defecto */
    animation: colorChange 2s ease-in-out forwards;
    /* Animación de transición de color */
}

@keyframes colorChange {
    0% {
        background-color: rgb(255, 255, 255);
        /* Color inicial (blanco) */
    }

    100% {
        background-color: #ec8e5f;
        /* Color final (rojo) */
    }
}

.logo img {
    width: 250px;
    height: 190px;
    position: relative;
    animation: transparente 3s ease-in-out forwards , agrandar 1s ease-in-out 3s forwards;
}




.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -60px;
}

.blanco,.blanco-division {
    background-color: aliceblue;
    width: 270px;
    animation: mover 3s ease-in-out forwards, transparente 3s ease-in-out forwards;

}

.blanco {
    padding: 20px;
    position: relative;
    top: 80px;
    margin-right: 50px;
}

.blanco-division {
    position: relative;
    top: -50px;
    padding: 10px;
    font-size: 20px;
    z-index: -1;
    text-align: end;
    margin-left: 50px;
}


.nombre-division{
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    animation: transparente 3s ease-in-out forwards;
}

@keyframes mover {
    from {
        width: 30px;
        font-size: 0px;
    }

    to {
        width: 270px;
        font-size: 20px;
    }
}

@keyframes transparente {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes agrandar {
    0% {
        width: 250px;
        height: 190px;
    }
    50%{
        width: 280px;
        height: 220px;
    }
    100% {
        width: 250px;
        height: 190px;
    }
}

